################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/ChuChuRocket/.vs/ChuChuRocket/v14
/ChuChuRocket/ChuChuRocket/Debug
/ChuChuRocket/ChuChuRocket/Release
/ChuChuRocket/Debug
/ChuChuRocket/packages/directxtk_desktop_2015.2016.9.15.1
/ChuChuRocket/Release
/ChuChuRocket/ChuChuRocket.VC.VC.opendb
/ChuChuRocket/ChuChuRocket.VC.db
